fastapi
uvicorn
requests
beautifulsoup4
lxml
jinja2
python-dotenv
schedule
APScheduler
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
email_validator
undetected-chromedriver
selenium
fake-useragent
pytz